{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="container-fluid">


        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid"><a class="navbar-brand" href="#">Библиотека</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if is_granted('IS_ANONYMOUS') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('login') }}">Войти</a></li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_book_new') }}">Добавить
                                    книгу</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Выйти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for book in books|sort((a, b) => b.bookDateRead <=> a.bookDateRead) %}

                <div class="col">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4"><img src="{{ asset( book.BookCover ) }}"
                                                       class="img-fluid rounded-start" alt="Обложка"></div>
                            <div class="col-md-8">
                                <div class="card-body"><h5 class="card-title">{{ book.bookName }}</h5>
                                    <p class="card-text">Автор: {{ book.bookAuthor }}</p>
                                </div>
                                <p>
                                    <a href="{{ path('app_main_pdf', {'id': book.id}) }}" class="btn btn-primary"
                                       style="margin-left: 1em;">Читать</a>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a href="{{ path('app_book_edit', {'id': book.id}) }}"
                                           class="btn btn-outline-primary">Редактировать</a>
                                        {{ include('book/_delete_form.html.twig') }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
